.header{
    background: #F0F0F0;
    height: 80px;
}
.profile p{
    color: grey;
    font-size: 20px;
    font-weight: bold;
    font-style: italic
}
.header h1{
    position:relative;
    top:15%;
    left: 2%
}
.but-st{
    display:inline-block;
    font-weight:400;
    color:#212529;
    text-align:center;
    vertical-align:middle;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background-color:transparent;
    border:1px solid transparent;
    padding:.375rem .75rem;
    font-size:1rem;
    line-height:1.5;
    border-radius:.25rem;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
.but-st:hover {
    color:#212529;
    text-decoration:none
}
.butt{
    margin-top:20px;
    position:relative;
    left:20%;
    color:#fff;
    background-color:#007bff;
    border-color:#007bff
}
.butt:hover{
    color:#fff;
    background-color:#0069d9;
    border-color:#0062cc
}